
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JPG/JPEG to PNG</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">


</head>
<body>
    <!-- Page 0 Content -->
    <header>
        <div class="container">
            <h1>Image Converter</h1>
            <nav>
                <a href="#">Home</a>
                <a href="#">Features</a>
                <a href="#">About</a>
                <a href="#">Contact</a>
            </nav>
        </div>
    </header>

    <main>
        <div class="container">
            <section class="upload-section">
                <h2>Convert JPG/JPEG to PNG</h2>
                <form method="post" enctype="multipart/form-data">
                    <div class="upload-area">
                        <label for="file" class="upload-label">
                            <span>Upload File</span>
                            <input type="file" name="file" accept="image/jpeg" id="file">
                        </label>
                        <div class="message">
                        <p id="file-name">No file chosen </p> <!-- Display chosen file name here -->
                        <P id="msg">file must be jpg/jpeg and upto 15 MB</P>
                        </div>
                    </div>
                    <div class="url-area">
                        <label for="url">Or enter image URL:</label>
                        <input type="url" name="url" placeholder="Enter image URL" id="url">
                    </div>
                    <div class="button-row">
                        <button type="submit" class="convert-button">Convert</button>
                        <button type="button" onclick="window.location.reload();" class="reload-button">Upload another file</button>
                    </div>
                </form>
            </section>

            <section class="image-section">
                <img src="{{ url_for('static', filename='images/img.png') }}" alt="Sample Image">
            </section>
        </div>
    </main>



    <!-- Page 1 Content -->
    <section class="container page-1">
        <div class="left">
            <img src="{{ url_for('static', filename='images/media.png') }}" alt="Image conversion" />
        </div>
        <div class="right">
            <h1>What is a JPG to PNG Converter?</h1>
            <div class="card">
                <p>A JPEG to PNG converter is a tool or software that transforms images from the JPEG (Joint Photographic Experts Group) format to the PNG (Portable Network Graphics) format.</p>
                <p> JPEG is widely used for its efficient compression and small file size, making it ideal for photographs and web images. However, it uses lossy compression, which can reduce image quality. </p>
                <p>In contrast, PNG employs lossless compression, ensuring no loss of image data, and supports transparent backgrounds, which is essential for graphics and design work. </p>
                <p>This conversion is beneficial when high image quality and transparency are required, such as in graphic design, web development, and professional photography, where maintaining image integrity and visual elements like logos or icons is crucial.</p>
            </div>
        </div>
    </section>

    <!-- Page 2 Content -->
    <section class="container page-2">
        <h2 id="how-to-convert-a-png-to-jpg">How to convert a JPG/JPEG to PNG.</h2>
        <div class="card-container">
            <div class="card">
                <picture>
                    <img loading="lazy" alt="Icon: Upload" src="{{ url_for('static', filename='images/media 0.png') }}" width="190" height="194">
                </picture>
                <h3 id="select">1. Select.</h3>
                <p>Choose a JPG/JPEG image from your photo library that is less than 2GB in size.</p>
            </div>
            <div class="card">
                <picture>
                    <img loading="lazy" alt="Icon: Upload" src="{{ url_for('static', filename='images/media_1.png') }}" width="190" height="194">
                </picture>
                <h3 id="convert">2. Convert.</h3>
                <p>Upload your image to automatically convert it to PNG format in an instant.</p>
            </div>
            <div class="card">
                <picture>
                    <img loading="lazy" alt="Icon: Upload" src="{{ url_for('static', filename='images/media 2.png') }}" width="190" height="194">
                </picture>
                <h3 id="continue-editing">3. Continue editing.</h3>
                <p>Your new image will download as a PNG file. Save it, share it, or keep editing it to make it your own.</p>
            </div>
        </div>
    </section>

    <!-- Page 3 Content -->
    <section class="container page-3">
        <div class="left">
            <h1>Why Use a JPG/JPEG to PNG Converter?</h1>
            <p>
                Using a JPEG to PNG converter is advantageous for several reasons. JPEG images, while efficiently compressed for smaller file sizes, use lossy compression that can degrade image quality over time, especially with repeated editing and saving. Converting to PNG format, which employs lossless compression, preserves the original image quality without any loss. Additionally, PNG supports transparent backgrounds, which is essential for web design, logos, and graphics requiring transparency. PNG is also better suited for images with text, line art, or sharp edges, as it retains detail and clarity without introducing artifacts. Therefore, converting JPEG to PNG is beneficial for maintaining high-quality visuals, supporting transparency, and ensuring better compatibility with design and development needs.</p>

        </div>
        <div class="right">
            <div class="card">
                <h2>Benefits</h2>
                <ul>
                    <li><strong>Reduced File Size:</strong> JPG files are generally smaller than PNGs, saving storage space.</li>
                    <li><strong>Faster Loading Speeds:</strong> Smaller file sizes lead to quicker website load times.</li>
                    <li><strong>Enhanced Compatibility:</strong> JPGs are widely supported across different devices and software.</li>
                    <li><strong>Efficient Sharing:</strong> Smaller files are easier and quicker to share via email and social media.</li>
                    <li><strong>Optimized for Web:</strong> JPGs are ideal for web use, balancing quality and performance.</li>
                    <li><strong>Print Uses:</strong> JPGs are suitable for printing without significantly compromising quality.</li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Page 4 Content -->
    <section class="container page-4">
        
            
            <h1>Who Uses a JPG to PNG Converter?</h1>
        
        <div class="container">
            <div class="card">
                <h2>Web Designers and Developers</h2>
                <p>Optimize images for faster website load times, enhancing user experience and SEO performance. Smaller image files improve loading speed, which is crucial for maintaining visitor engagement and achieving better search engine rankings.</p>
            </div>
            <div class="card">
                <h2>Graphic Designers</h2>
                <p>Ensure compatibility across various platforms and software by converting images to the widely supported JPG format. This compatibility is essential for consistent visual presentation and collaboration with other professionals using different tools.</p>
            </div>
            <div class="card">
                <h2>Photographers</h2>
                <p>Reduce file sizes for efficient storage and quick sharing without compromising image quality. Smaller files are easier to manage, transfer, and store, making it convenient for photographers to handle large volumes of images.</p>
            </div>
            <div class="card">
                <h2>Everyday Users</h2>
                <p>Save space and enhance the accessibility of photos on social media and other applications. Converting to JPG allows users to share images more efficiently and ensures they can be viewed on a wide range of devices.</p>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2024 Image Converter. All rights reserved.</p>
        </div>
    </footer>
    <script>
        document.getElementById('file').addEventListener('change', function(event) {
            
            var fileName = event.target.files.length > 0 ? event.target.files[0].name : 'No file chosen';
            document.getElementById('file-name').textContent = fileName;
        });

 
    document.addEventListener("DOMContentLoaded", function () {
            const form = document.querySelector("form");
            const MAX_CONTENT_LENGTH = 15 * 1024 * 1024 ;  // 15 MB in bytes

            form.addEventListener("submit", function (event) {
                const fileInput = form.querySelector('input[type="file"]');
                const urlInput = form.querySelector('input[type="url"]');

                // Check if neither file nor URL is provided
                if (fileInput.files.length === 0 && !urlInput.value) {
                    event.preventDefault();
                    alert("Please select a file or provide a URL to convert.");
                    return;
                }

                // Check if the file size exceeds the maximum limit
                if (fileInput.files.length > 0 && fileInput.files[0].size > MAX_CONTENT_LENGTH) {
                    event.preventDefault();
                    alert("The selected file size exceeds the 15 MB limit. Please upload a smaller file.");
                    return;
                }
            });
        });   
    </script>


</body>
</html>
